<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.ubecake.phonegap.getting.started"
	version 	= "1.0.0">

	<name>Testing PhoneGap: Getting Started</name>

	<description>
		A slightly modified template for getting started with PhoneGap development and build.
	</description>

	<author href="http://www.ubecake.com"
		email="chris@ubecake.com">
		Chris Fankhauser
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
